.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
   
}

.task{
    border: none;
   margin-bottom: 2px;
    text-align: left;
    display: flex;
    padding: 10px;
}
.icon{
    width: 5%;
}
.task-content-date{
    color: rgb(117, 117, 117);
}
.task-content-content{
    color: rgb(53, 52, 52);
    margin-bottom: 5px;
}
.high {
    background-color: #0077b6;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
}
.bug , .feature{
    background-color: rgb(203, 201, 201);
    padding: 4px 8px;
    border-radius: 5px;
}
.status{
    margin-bottom: 5px;
}
.task-modal{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.task-modal-chow{
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color:rgba(0, 0, 0, 0.692);
    
}
.button-hide{
    display: none;
   
}
.button-show{
    display: block;
  
}